span{
    font-weight: 900;
    text-transform: capitalize;
}

aside > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#insert-ships,
#your-board,
#enemy-board{
    position: relative;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: var(--background-color);
    margin: 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.enemy-fleet,
.player-fleet,
.grid-box{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); 
    border: 3px solid #111;
    border-radius: 3px;

     /* Force square shape */
    aspect-ratio: 1 / 1;
    width: var(--grid-size); 
}

.your-cell,
.enemy-cell,
.grid-cell{
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;

    /* center dot */
    display: flex;          
    justify-content: center; 
    align-items: center;  
}

/* How to play game pop up */
.help-modal {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

.help-content {
    width: min(90%, 600px);
    max-height: 80vh;
    background-color: var(--background-color);
    backdrop-filter: blur(2px);
    padding: 40px 25px;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
}

.close-help {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.1rem;
}

/* game board css */
.message{
    background-color: var(--background-color);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    padding: 10px;
    margin: 20px 30px;
}

.flex-boards{
    display: flex;
}

#enemy-board{
    background-color: #7c3f0d4a;
}

.dot{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    z-index: 10;
    opacity: 0.4;
}

.attack-succeed > .dot{
    background-color: #e80505;
}

.attack-fail > .dot{
    background-color: #fff;
}

@media (max-width: 960px) {
    #your-board{
        flex: 1;
    }
}

/* display winner */
#winner-modal{
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(8px);
    background-color: rgba(127, 130, 53, 0.4);
}

.hide{
    display: none;
}
.unhide{
    display: grid;
    place-items: center;
}

@media (max-width: 959px) {
    body > section{
        padding-top: 40px;
    }

    .message{
        border-radius: 10px;
        padding: 3px;
        margin: 3px 5px;
    }

    h2{
        font-size: 1rem;
        margin: 4px;
    }

    p{
        font-size: 0.8rem;
    }

    .flex-boards {
        overflow-x: hidden;
        padding-top: 12rem;
    }
  
    #enemy-board {
        transform: scale(0.9);
        padding: 2px;
        margin: 50px auto 0;
    }
  
    #your-board {
        position: absolute;
        top: 0rem;
        left: -5rem;
        transform: scale(0.5);
        pointer-events: none; 
    }

    @media (min-height: 900px) {
        #your-board {
            top: 3rem;    
        } 
    
        #enemy-board {
            transform: scale(0.9);
        }
      }
  }

  @media (min-width: 800px) and (max-width: 959px) {
    .flex-boards {
        padding-left: 16rem;
        padding-top: 0rem;
    }
  }

  @media (max-width: 430px) {
    .flex-boards {
        padding-top: 13rem;
    }

    #enemy-board {
        transform: scale(0.8);
        padding: 2px;
        margin: 12px auto 0;
    }

    #your-board {
        position: absolute;
        top: 3rem;
        left: -5rem;
        transform: scale(0.5);
    }
  }

  