span{
    font-weight: 900;
    text-transform: capitalize;
}

aside > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#insert-ships,
#your-board,
#enemy-board{
    position: relative;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: var(--background-color);
    margin: 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.enemy-fleet,
.player-fleet,
.grid-box{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); 
    border: 3px solid #111;
    border-radius: 3px;

     /* Force square shape */
    aspect-ratio: 1 / 1;
    width: var(--grid-size); 
}

.your-cell,
.enemy-cell,
.grid-cell{
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
}

/* How to play game pop up */
.help-modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

.help-content {
    width: min(90%, 600px);
    max-height: 80vh;
    background-color: var(--background-color);
    backdrop-filter: blur(2px);
    padding: 40px 25px;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
}

.close-help {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.1rem;
}

/* game board css */
.message{
    background-color: var(--background-color);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    padding: 10px;
    margin: 20px 30px;
}

.flex-boards{
    display: flex;
}

#enemy-board{
    background-color: #7c3f0d4a;
}

.dot{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: auto;
}

.attack-succeed > .dot{
    background-color: #e80505;
}

.attack-fail > .dot{
    background-color: #fff;
}

@media (max-width: 960px) {
    #your-board{
        flex: 1;
    }
}