
.ship.vertical {
    transform: rotate(90deg);
}

#ships {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: calc(var(--cell-size) * 5);
    align-items: center;
}
  
.ship {
    height: var(--cell-size);
    object-fit: contain;
    cursor: grab;
    user-select: none;
}

img, .carrier{
    width: calc(var(--cell-size) * 5); /* longest ship = 5 cells */
}

.battleship{
    width: calc(var(--cell-size) * 4);
}

.cruiser, 
.submarine {
    width: calc(var(--cell-size) * 3);
}

.destroyer {
    width: calc(var(--cell-size) * 2);
}

/* place buttons to the left */
#ship-axis{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media (max-width: 730px) {
    #ships {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        gap: 10px; /* adjust spacing as needed */
    }
    
    /* Make the first image span both columns */
    #ships img:first-child {
        grid-column: span 2;
        width: 100%;
    }
}

/* extras */
.grid-cell.hover-valid {
    background-color: rgba(0, 255, 0, 0.3);
  }
  
  .grid-cell.hover-invalid {
    background-color: rgba(255, 0, 0, 0.3);
  }
  
  .grid-cell.occupied {
    background-color: rgba(60, 60, 100, 0.6);
  }
  
  #ships .ship.active {
    opacity: 1;
    outline: 2px solid var(--primary-color);
  }
  
  #ships .ship.placed {
    opacity: 0.2;
    pointer-events: none;
  }
  